# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION BEGIN
PassengerAppRoot "/home/ariascos/public_html/adsum-net/API-status"
PassengerBaseURI "/API-status"
PassengerPython "/home/ariascos/virtualenv/public_html/adsum-net/API-status/3.9/bin/python"
# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION END
